<mat-toolbar color="primary" class="top-bar">
  <span>
    Video web player
  </span>
  <div>
    <input
      type="file"
      style="display: none"
      #videoFileInput
      accept="*"
      (change)="onChangeVideoFileInput()"
    />
    <button mat-flat-button color="basic" class="button-div" (click)="onClickVideoFileInputButton()">
      Select video
    </button>
    <input
      type="file"
      style="display: none"
      #subtitleFileInput
      accept="*"
      (change)="onChangeSubtitleFileInput()"
    />
    <button mat-flat-button color="basic" class="button-div" (click)="saveProgressToLocalStorage();onClickSubtitleFileInputButton()">
      Select subtitle
    </button>
    
  </div>
</mat-toolbar>

<mat-card class="container" *ngIf="playerSrc">
  <div class="text-div">Name: {{ name }}</div>
  <video width="100%" controls #videoTag>
    <source [src]="playerSrc" type="video/mp4" />
    <track
      label="English"
      kind="subtitles"
      srclang="en"
      [src]="trackSrc"
      default
    />
  </video>
</mat-card>

<mat-card class="container" *ngIf="!playerSrc">
  <div class="text-div">Please select a video</div>
</mat-card>
